%header#header.site-header
  = render "header"

.container.img-layer.col-xs-12{:style => "background: url(https://farm9.staticflickr.com/8439/8000334787_92911a641e_c.jpg); background-size: cover;"}
  .row
    = link_to locations_path do
      .main_content.col-xs-12.col-md-8.col-md-offset-2
        %h1.section-title Welcome to Cake
        %h2 Let's make your birthday better
        .mt20
          %span.mr40.fa.fa-coffee.fa-5x
          %span.mr40.fa.fa-birthday-cake.fa-5x
          %span.fa.fa-spoon.fa-5x
