.row
  .col-sm-8
    .ibox.float-e-margins
      .ibox-title
        %h2 Users
      .ibox-content
        %table.table.table-hover.fsize-20
          %tr
            %th Name
            %th Profile
            %th Admin
          - @users.each do |user|
            %tr
              %td= link_to user.first_name.capitalize, user_path(user)
              %td= link_to "edit", edit_user_path(user)
              %td= user.admin ? "true" : nil
