/*
 * Manifest for landing page.
 * Note that 'landing_page/landing_page.css' has been added to Rails.application.config.assets.precompile in assets.rb
 *
 *= require_self
 //= require landing_page/landing_template_start
 //= require ../shared/shared
 */

// landing_template_start.css has overidden bootstrap classes.
// Uncomment next line if need original bootstrap classes.
// @import "bootstrap";

@import "font-awesome";

//////// Styles limited to the landing page \\\\\\\\\\

// phones
@media only screen
  and (min-device-width: 100px)
  and (max-device-width: 736px) {
  .img-layer {
    height: 2000px;
  }
}

// laptops
@media screen
  and (min-device-width: 737px)
  and (max-device-width: 1600px) {
  .img-layer {
    height: 800px;
  }
}

.opaque-layer {
  background-color: rgba(225, 225, 225, .65);
  border-radius: 5px;
  margin-top: 200px;
  min-height: 300px !important;
  text-align: center;
  padding: 40px;
}
.main_content {
  color: #312212;

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 50px;
  }
}

ul.locations {
  padding-left: 0px;
}

li.location {
  list-style-type: none;
  font-size: 33px;
  a {
    color: blue;
  }
}

.subheading {
  font-size: 50px
}

.signup-form {
  margin: auto;
  width: 65%;
  margin-top: 90px;
  font-size: 50px;

  input {
    height: 100px;
    font-size: 50px;
    line-height: 50px !important;
    width: 600px;
    margin-bottom: 60px;
  }
}
