!!! 5
%html(lang="en-US")
  %head
    %title Cake
    = stylesheet_link_tag    'landing_page/landing_page', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'landing_page/landing_page', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body


    = yield
