.container.img-layer.col-xs-12{:style => "background: url(https://farm8.staticflickr.com/7586/16179516094_bff809dcd7_c.jpg); background-size: cover;"}
  .row
    = link_to locations_path do
      .opaque-layer.col-xs-12.col-md-8.col-md-offset-2
        .main_content.col-xs-10.col-xs-offset-1
          %h1.section-title
            %span Locations
          %ul.locations
            - @locations.each do |location|
              %li.location= link_to location.name, location_path(location.id)
