.col-sm-6
  .box.float-e-margins
    .ibox-title
      %h2 Create New Location
    .ibox-content
      = simple_form_for @location do |f|
        = f.input :name
        = f.input :img_url
        = f.submit class: "btn btn-primary"
