.col-sm-6
  %h1= "Location: #{@location.name}"
  = image_tag @location.img_url
.col-sm-6
  %h2 Your Current Deals
  = link_to "Create Deal", new_location_deal_path(@location), class: "btn btn-primary"

  -# - if @deal
  -#   = link_to "Update Deal", update_location_deal_path(@location, @deal), class: "btn btn-primary"
  -# - else
  -#   = link_to "Create Deal", new_location_deal_path(@location), class: "btn btn-primary"
