.container.img-layer.col-xs-12{:style => "background: url(https://farm6.staticflickr.com/5131/5464499376_d61aae17b0_z.jpg); background-size: cover;"}
  .row
    .opaque-layer.col-xs-12.col-md-8.col-md-offset-2
      .main_content.col-xs-10.col-xs-offset-1
        %p.sorry.text-danger Sorry the redemtion window has expired
        %p.redeemed-on.mt50 This treat was redeemed on
        %p.sorry.text-danger= @voucher.redeemed.to_date.strftime("%b %e") #should create a decorator

        %p.dont-worry
          Don't worry though. You'll get another treat next month!
