.container.img-layer.col-xs-12{:style => "background: url(https://farm1.staticflickr.com/138/319913793_71cec49d33_z.jpg); background-size: cover;"}
  .row
    .opaque-layer.col-xs-12.col-md-8.col-md-offset-2
      .main_content.col-xs-10.col-xs-offset-1
        %p.fsize-100.green= @voucher.location.deal.birthday_deal # law of demeter violation. Fix.

        %p.fsize-50.mt50
          Please redeem when at
          %span.green= @voucher.location.name

        %p.fsize-50.mt50
          Voucher is good for only 12 hours after pressing the redeem button

        %p.mt50= link_to "Redeem Now", redeem_voucher_path(@voucher.token), class: "fsize-50 btn btn-lg btn-success"
